.rpf--w-40 {
    width: 40%;
}

.rpf--w-65 {
    width: 65%;
}

.rpf--w-90 {
    width: 90%;
}

.rpf--w-93 {
    width: 93%;
}

.rpf--w-95 {
    width: 95%;
}

.rpf--w-97 {
    width: 97%;
}

.rpf--w-100 {
    width:100%;
}